:root 
{
    --todo-blue: #14AAF5;
    --todo-purple: #AB5DE6;
    --todo-green: #2CC6AB;
    --todo-orange: #FF9B00;
    --todo-pink: #EC4A9D;
    --todo-lightgreen: #A3D116;
    --todo-grey: #F6F8F9;
    --todo-darkgrey: #C4CBD0;
}

*
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#site_header
{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

#logo
{
    width: 4rem;
}

#testo_logo
{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-left: 0.3rem;
    
}

#site_main
{
    background-color: var(--todo-grey);
    padding: 5rem;
}

#container
{
    background-color: white;
    width: 90%;
    margin: auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#top_container
{
    padding: 1rem 2rem

}

.button
{
    box-sizing: border-box;
    width: 5.5rem;
    padding: 0.5rem 0.8rem 0.5rem;
    border-radius: 0.3rem;
    border: none;
}

#add_task
{
    background-color: var(--todo-blue);
    color: white;
    border-color: var(--todo-blue) solid;
}

#add_section
{
    width: 7rem;
    background-color: white;
    color: var(--todo-darkgrey);
    border: var(--todo-darkgrey) solid;
}

#second_container{
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.task_title{
    margin-bottom: 1rem;
    margin-top: 2rem;
}

ul {
    list-style-type: none;
}

li {
    font-size: 20px;
    margin-bottom: 1.8rem;
}

.tag
{
    box-sizing: border-box;
    width: 5.5rem;
    padding: 0.4rem 0.7rem 0.4rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 14px;
}

.done
{
    border: solid;
    border-radius: 50%;
    padding: 2px 1px 2px 4px;
    color: var(--todo-green);
    border-color: var(--todo-green);
    background-color: white;
    margin-right: 5px;
    font-size: 15px;
}

.not_done {
    border: solid;
    border-radius: 50%;
    padding: 2px 2px 1px 5px;
    color: red;
    border-color: red;
    background-color: white;
    margin-right: 5px;
    font-size: 15px;
}

#editorial
{
    display: inline;
    background-color: var(--todo-blue);
    color: white;
}

#q1
{
    display: inline;
    background-color: var(--todo-purple);
    color: white;
}

#recruiting
{
    display: inline;
    background-color: var(--todo-green);
    color: white;
}

#mobile
{
    display: inline;
    background-color: var(--todo-orange);
    color: white;
}

#website
{
    display: inline;
    background-color: var(--todo-pink);
    color: white;
}

#sales
{
    display: inline;
    background-color: var(--todo-lightgreen);
    color: white;
}

hr {
    border: 1;
    width: 100%;
    color: var(--todo-grey);
}